<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Flask website</title>
</head>
<body>
    {% if param > 49 %}    
    <h1>{{fantasie}}</h1>    
    {% endif %} 
    <form action = /login method = 'get'>
        <p>Name:</p>
        <p><input type = "text" name = "name" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </form>
</html>

        
